@value colorTextSecondary, colorError, blue900 from './styles/colors.css';
@value row from './styles/flex.css';
@value body2 from './styles/typography.css';
@value zIndexMenuBackdrop from './material/zindex.css';

.windowControls {
  width: 100%;
  background-color: blue900;
}

.layout {
  composes: row;
  height: 100%;
}

:global(.electron) .layout {
  height: calc(100% - 32px);
}

.userCount {
  color: colorTextSecondary;
}

.devIndicator {
  composes: body2;
  width: 100%;
  color: colorError;
  text-transform: uppercase;
}

.subheaderButton {
  min-height: 32px !important;
  width: 32px !important;
  padding: 0 !important;
  line-height: 32px !important;
  margin-right: 4px !important;
}

/* TODO(tec27): need to fix buttons to be more stylable so this sort of thing isn't necessary */
.subheaderButton > span {
  color: colorTextSecondary !important;
  line-height: 32px !important;
}
