@value colorTextSecondary, colorError from './styles/colors.css';
@value row from './styles/flex.css';
@value body2 from './styles/typography.css';
@value zIndexMenuBackdrop from './material/zindex.css';

.layout {
  composes: row;
  height: 100%;
}

.userCount {
  color: colorTextSecondary;
}

.devIndicator {
  composes: body2;
  width: 100%;
  color: colorError;
  text-transform: uppercase;
}

.subheaderButton {
  min-height: 32px !important;
  width: 32px !important;
  padding: 0 !important;
  line-height: 32px !important;
  margin-right: 4px !important;
}

/* TODO(tec27): need to fix buttons to be more stylable so this sort of thing isn't necessary */
.subheaderButton > span {
  color: colorTextSecondary !important;
  line-height: 32px !important;
}

.profileOverlay {
  position: fixed;
  top: 8px;
  right: 12px;
}
