@value fastOutSlowIn from '../curve-constants.css';

.contents {
  min-width: 256px;
  position: relative;
  padding: 16px;
}

.contents.enter {
  opacity: 0;
  transform: translateY(-16px);
  transition-property: all;
  transition-timing-function: fastOutSlowIn;
}

.contents.enterActive {
  opacity: 1;
  transform: translateY(0px);
}

.contents.leave {
  opacity: 1;
  transition-property: all;
  transition-timing-function: fastOutSlowIn;
}

.contents.leaveActive {
  opacity: 0;
}
