@value colorTextFaint, amberA100, blue100, blue200 from '../styles/colors.css';
@value row, itemsStart, exact, grow, shrink from '../styles/flex.css';
@value body1, caption, body2 from '../styles/typography.css';

.message {
  composes: row itemsStart;
  composes: body1;
  line-height: 20px;
  min-height: 20px;
  padding-bottom: 4px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

.timestamp {
  composes: exact;
  composes: caption;
  color: colorTextFaint;
  line-height: inherit;
  margin-right: 8px;
}

.username {
  composes: exact;
  composes: body2;
  color: amberA100;
  line-height: inherit;
  padding-right: 8px;
}

.text {
  composes: grow shrink;
  line-height: inherit;
  padding-left: 8px;
}

.messages {
  composes: shrink;
  padding-top: 16px;
  padding-right: 16px;
  overflow-y: auto;
}

.systemMessage {
  color: blue100;
}

.important {
  composes: body2;
  line-height: inherit;
  color: blue200;
}
