@value colorDividers, colorTextFaint, colorTextSecondary from '../styles/colors.css';
@value amberA100, blue100, blue200 from '../styles/colors.css';
@value row, col, itemsStart, exact, grow, shrink, justifyEnd from '../styles/flex.css';
@value itemsEnd, itemsCenter, justifyCenter from '../styles/flex.css';
@value body1, caption, body2 from '../styles/typography.css';

.messagesScrollable {
}

.messagesScrollableView {
  padding: 8px 16px 0px 8px;
}

.loadingArea {
  composes: row itemsCenter justifyCenter;
  height: 32px;
}

.messages {
  padding: 8px 0 0;
  user-select: contain;
}

.messages * {
  user-select: text;
}

.message {
  composes: row itemsStart;
  composes: body1;
  line-height: 20px;
  min-height: 20px;
  padding: 0 8px 4px 8px;
}

.timestamp {
  composes: exact;
  composes: caption;
  color: colorTextFaint;
  line-height: inherit;
  margin-right: 8px;
}

.username {
  composes: exact;
  composes: body2;
  color: amberA100;
  line-height: inherit;
  padding-right: 8px;
}

.text {
  composes: grow shrink;
  line-height: inherit;
  padding-left: 8px;
  min-width: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

.important {
  composes: body2;
  line-height: inherit;
}

.systemMessage {
  color: blue100;
}

.systemImportant {
  composes: important;
  color: blue200;
}

.infoMessage {
  composes: itemsCenter;
  color: colorTextFaint;
}

.separatedInfoMessage {
  composes: infoMessage;
  margin-top: 4px;
  margin-bottom: 4px;
}

.infoDivider {
  border: none;
  border-top: 1px solid colorDividers;
  margin: 0;
}

.infoDividerLeft {
  composes: infoDivider;
  width: 72px;
  margin-right: 8px;
}

.infoDividerRight {
  composes: infoDivider;
  composes: grow;
  margin-left: 8px;
}

.infoImportant {
  composes: important;
  color: colorTextSecondary;
}
