.avatarImage {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.avatarImage > svg {
  width: 100%;
  height: 100%;
}

img.avatarImage {
  border-radius: 50%;
}

.buttonImage {
  width: 24px;
  height: 24px;
  display: block;
  margin: auto;
  overflow: hidden;
}

.buttonImage > svg {
  width: 24px;
  height: 24px;
}
