@value colorDividers from '../styles/colors.css';
@value row, grow, itemsCenter, justifyCenter from '../styles/flex.css';
@value fastOutSlowIn from '../material/curve-constants.css';

.container {
  composes: row;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  max-width: 884px;
}

.loadingArea {
  composes: row itemsCenter justifyCenter;
  padding-top: 16px;
}

.messagesAndInput {
  composes: grow;
  min-width: 320px;
  height: 100%;
}

.messages {
  height: calc(100% - 56px - 16px); /* chat input height + margin */
  margin: 0 0 -1px 0;
  /* Without this, Chrome flashes a frame+ of a pure white border when added */
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: border 250ms fastOutSlowIn;
}

.messagesScrollBorder {
  composes: messages;
  border-bottom: 1px solid colorDividers;
}

.chatInput {
  margin: 8px 0;
  padding: 0 16px;
}
