[package]
name = "shieldbattery"
version = "0.1.0"
edition = "2018"

[lib]
name = "shieldbattery"
crate-type = ["cdylib"]

[profile.dev]
panic = "abort"

[profile.release]
debug = 1
panic = "abort"
overflow-checks = true
lto = true

[dependencies]
arrayvec = "0.5.1"
backtrace = "0.3"
byteorder = "1.3.1"
bytes = "0.5"
chrono = "0.4.6"
fern = "0.6"
futures = "0.3"
fxhash = "0.2.1"
http = "0.2"
lazy_static = "1.3"
libc = "0.2.50"
log = "0.4"
parking_lot = { version = "0.11", features = ["send_guard"] }
quick-error = "1.2.2"
rand = "0.7"
scopeguard = "1.0"
serde = { version = "1.0.89", features = ["derive", "rc"] }
serde_json = "1.0.39"
tokio = { version = "0.2", features = ["fs", "net", "rt-threaded", "stream", "sync", "time"] }
tungstenite = { version = "0.10", default-features = false }
tokio-tungstenite = "0.10"

[dependencies.winapi]
version = "0.3.3"
features = [
    "combaseapi", "dsound", "debugapi", "d3d11", "dxgi", "errhandlingapi", "handleapi",
    "knownfolders", "libloaderapi", "memoryapi", "processthreadsapi", "shlobj", "stringapiset",
    "synchapi", "sysinfoapi", "unknwnbase", "winuser", "wingdi", "winsock2", "ws2def", "ws2ipdef",
]

[dependencies.whack]
git = "https://github.com/neivv/whack/"
rev = "1adee081ac5ebc8362f92801e2083bbbadd79d57"

[dependencies.samase_scarf]
git = "https://github.com/neivv/samase_scarf/"
rev = "c4eff01bb4cdd88f773e96cd8c1e6e4d56d3f363"
