h2 Admin Panel
p(data-ng-show='auth.permissions.editPermissions')
  a(href='/admin/permissions') Change user permissions
p(data-ng-show='auth.permissions.acceptInvites')
  a(href='/admin/invites') View beta invites
