a(href='', ng-click='leaveLobby()') Leave lobby
h2 {{ joinedLobby.lobby.name }}
h4 Map: {{ joinedLobby.lobby.map }}
h4 Players: {{ joinedLobby.lobby.players.length }} / {{ joinedLobby.lobby.size }}
h1(ng-show='joinedLobby.countingDown') {{ joinedLobby.countdownSeconds }}
a(href='', ng-click='startCountdown()',
  ng-show='joinedLobby.isHost && joinedLobby.lobby.players.length > 1 && !(joinedLobby.countingDown || joinedLobby.initializingGame)')
  | Start game
ul
  li(ng-repeat='slot in joinedLobby.lobby.slots track by $index')
    span(ng-show='!slot') <em>Empty</em>
    span(ng-hide='!slot')
      a(href='', ng-hide='!joinedLobby.isHost || slot.id == joinedLobby.myId',
        ng-click='kick(slot.id)') X
      span {{ slot.name }}
      select(ng-model='slot.race', ng-change='setRace(slot.id, slot.race)',
        ng-options='race.value as race.name for race in RACES',
        ng-disabled='!(slot.isComputer && joinedLobby.isHost) && slot.id != joinedLobby.myId')
a(ng-show='joinedLobby.isHost && joinedLobby.lobby.players.length < joinedLobby.lobby.size', ng-click='addComputer()', href='')
  | Add computer
.row
  .col-12
    .chat-messages(auto-scroll)
      p(ng-repeat='msg in joinedLobby.chat')
        span(ng-switch='!!msg.system')
          span(ng-switch-when='true') <strong>{{ msg.text }}</strong>
          span(ng-switch-when='false') {{ msg.from }}: {{ msg.text }}
form.row(name='chatForm', novalidate, ng-submit='sendChat(chatMsg)')
  span.col-11
    input(type='text', placeholder='message', ng-model='chatMsg', required)
  span.col-1
    input(type='submit', value='Send', ng-disabled='!chatForm.$valid')
