h2 {{ lobby.name }}
h4 Map: {{ lobby.map }}
h4 Players: {{ lobby.players.length }} / {{ lobby.size }}
h1(data-ng-show='countingDown') {{ countdownSeconds }}
h1(data-ng-show='initializingGame') Game initializing, please wait...
a(href='', ng-click='startCountdown()',
  ng-show='isHost && lobby.players.length > 1 && !(countingDown || initializingGame)') Start game
ul
  li(data-ng-repeat='slot in lobby.slots')
    span(data-ng-show='!slot') &lt; Empty &gt;
    span(data-ng-hide='!slot') {{ slot.name }}
.row
  .col-12
    .chat-messages(data-auto-scroll)
      p(data-ng-repeat='msg in chat') {{ msg.from }}: {{ msg.text }}
form.row(name='chatForm', data-ng-submit='sendChat(chatMsg)')
  span.col-11
    input(type='text', placeholder='message', data-ng-model='chatMsg', required)
  span.col-1
    input(type='submit', value='Send', data-ng-disabled='!chatForm.$valid')
