form(name='loginForm', data-ng-submit='logIn(username, password, remember)', novalidate)
  p(data-ng-show='responseError') {{ responseError }}
  input(type='text', name='username', data-ng-model='username', required, placeholder='Username',
    data-ng-pattern=constants.USERNAME_PATTERN.toString(),
    data-ng-minlength=constants.USERNAME_MINLENGTH,
    data-ng-maxlength=constants.USERNAME_MAXLENGTH)
  input(type='password', name='password', data-ng-model='password', required,
    data-ng-minlength=constants.PASSWORD_MINLENGTH, placeholder='Password')
  label(for='remember-login') Remember me
    input(id='remember-login', name='remember-login', type='checkbox', data-ng-model='remember')
  input(type='submit', value='Login', data-ng-disabled='!loginForm.$valid || btnDisabled')

a(href='/user/new') Create new account
