form(name='settingsForm', ng-hide='loading', ng-submit='saveSettings()', novalidate)
  label(for='port') Port: 
    input(ng-model='bwPort', type='text', id='port', placeholder='6112', required,
      ng-pattern='/[0-9]{1,5}/')
  label(for='display-mode') Display mode: 
    select(id='display-mode', ng-model='displayMode', ng-options='dm.name for dm in displayModes',
      ng-change='onDisplayModeChange()')
  label(for='resolution') Resolution: 
    select(id='resolution', ng-model='resolution', ng-options='res.name for res in resolutions',
      ng-disabled='resDisabled')
  label(for='maintain-aspect-ratio') Maintain aspect ratio: 
    input(type='checkbox', id='maintain-aspect-ratio', ng-model='maintainAspectRatio')
  div
    label(for='sensitivity') Mouse sensitivity:
      input(type='range', id='sensitivity', ng-model='mouseSensitivity.value',
        min='{{mouseSensitivity.min}}', max='{{mouseSensitivity.max}}')
      span {{mouseSensitivity.value}}
  input(type='submit', value='Save', ng-disabled='settingsForm.$invalid || btnDisabled')
