{
  "env": {
    "app": {
      "presets": [
        [
          "env", {
            "targets": { "electron": "1.5.0" }
          }
        ],
      ],
    },
    "node": {
      "presets": [
        [
          "env", {
            "targets": { "node": "current" }
          }
        ],
      ],
    },
  },
  "presets": [ "stage-0" ],
  "plugins": ["transform-decorators-legacy"]
}
