.git/
app/
assets/
dist/
docs/
game/
node_modules/
server/.env
server/config.js
server/database.json
server/logs/
server/node_modules/
server/uploaded_files/
server/yarn-error.log
.env
yarn-error.log
