extends layout

block content
  div(ng-hide='appInitialized') - LOADING -
  .container(ng-show='appInitialized')
    nav.row.equal-height
      .logo.col-3
        a(href='/') ShieldBattery
      .col-2
        a(href='/lobbies') Play
      .col-2
        a(href='/') Chat
      .col-2
        a(href='/') Watch
      .col-2
        a(href='/') Analyze
      .col-1
        a(href='/') Configure
    .row
      .col-3.left-nav(ng-controller='StatusCtrl')
        ul(ng-hide='siteSocket.connected && psiSocket.connected')
          li(ng-show='!siteSocket.connected') Site socket not connected!
          li(ng-show='!psiSocket.connected') Psi socket not connected! 
            a(href='', ng-click='retryPsi()') (retry)
        .profile
          span(ng-show='auth.isLoggedIn') Logged in as {{ auth.user.name }} 
            a(href='', ng-click='logOut()') Log out
          span(ng-hide='auth.isLoggedIn')
            a(href='/login') Log in
      main.col-9(ng-view)
