extends layout

block content
  div(ng-hide='appInitialized') - LOADING -
  div(ng-show='appInitialized')
    div(ng-controller='StatusCtrl')
      p Warp field stabilized.
      p(ng-show='auth.isLoggedIn') Logged in as {{ auth.user.name }}
      p(ng-hide='auth.isLoggedIn') Not logged in.
    div(ng-view)
