extends layout

block content
  div(ng-controller='StatusCtrl')
    p Warp field stabilized.
    p(ng-show='auth.isLoggedIn') Logged in as {{ auth.user.name }}
    p(ng-hide='auth.isLoggedIn') Not logged in.
  div(ng-view)
