doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title ShieldBattery
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500',
        rel='stylesheet', type='text/css')
    link(href='/styles/site.css', rel='stylesheet', type='text/css')
  body
    block content
    script(type='text/javascript', src='/scripts/client.js')
