doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0')
    title ShieldBattery
    script(type='text/javascript', src='/scripts/client.js', defer, async)
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons',
        rel='stylesheet', type='text/css')
    link(href='site.css', rel='stylesheet', type='text/css')
    link(rel='icon', type='image/x-icon', href='/images/favicon.ico')
  body
    block content
