@value reset from '../material/button-reset.css';

.root {
  position: relative;
  height: 32px;

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.sizeBase {
  -webkit-app-region: no-drag;
  position: absolute;
  z-index: 1000;
}

:global(.maximized) .sizeBase {
  display: none;
  -webkit-app-region: inherit;
}

.sizeTop {
  composes: sizeBase;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
}

.sizeLeft {
  composes: sizeBase;
  width: 4px;
  top: 0;
  left: 0;
  bottom: 0;
}

.sizeRight {
  composes: sizeBase;
  width: 4px;
  top: 0;
  right: 0;
  bottom: 0;
}

.button {
  composes: reset;
  width: 48px;
  height: 32px;
  line-height: 32px;
  padding: 4px 12px;
  float: right;
  cursor: pointer;

  -webkit-app-region: no-drag;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.button:active {
  background-color: rgba(255, 255, 255, 0.16);
}

.closeButton {
  composes: button;
}

.closeButton:hover {
  /* red 500 */
  background-color: rgba(244, 67, 54, 0.80);
}

.closeButton:active {
  /* red 500 */
  background-color: rgba(244, 67, 54, 0.88);
}

.maximizeButton {
  composes: button;
}

.minimizeButton {
  composes: button;
}
