@value row, exact, grow, itemsCenter from '../styles/flex.css';
@value title, subhead, singleLine from '../styles/typography.css';
@value shadow6dp from '../material/shadows.css';
@value zIndexMenu from '../material/zindex.css';

.overlay {
  composes: global(cardLayer);
  composes: shadow6dp;
  width: 256px;
  z-index: zIndexMenu;
}

.header {
  padding-top: 24px;
  text-align: center;
}

.avatar {
  width: 64px !important;
  height: 64px !important;
  margin-bottom: 16px;
}

.username {
  composes: title singleLine;
  margin-top: 0;
  margin-bottom: 0;
}

.actions {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* TODO(tec27): these styles are common to all menus */
.action {
  composes: row itemsCenter;
  width: 100%;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.actionIcon {
  composes: exact;
  width: 24px;
  overflow: hidden;
  margin-right: 16px;
}

.actionText {
  composes: grow subhead singleLine;
}
