@value row, exact, grow, itemsCenter from '../styles/flex.css';
@value title, subhead, singleLine from '../styles/typography.css';
@value fastOutSlowIn from '../material/curve-constants.css';

.header {
  position: relative;
  padding-top: 24px;
  text-align: center;
}

.enter .header {
  opacity: 0;
  transform: translateY(-16px);
  transition: all 175ms fastOutSlowIn 125ms;
}

.enterActive .header {
  opacity: 1;
  transform: translateY(0px);
}

.leave .header {
  opacity: 1;
  transition: all 100ms fastOutSlowIn;
}

.leaveActive .header {
  opacity: 0;
}

.avatar {
  width: 64px !important;
  height: 64px !important;
  margin-bottom: 16px;
}

.username {
  composes: title singleLine;
  margin-top: 0;
  margin-bottom: 0;
}

.actions {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.enter .actions {
  opacity: 0;
  transform: translateY(-16px);
  transition: all 125ms fastOutSlowIn 175ms;
}

.enterActive .actions {
  opacity: 1;
  transform: translateY(0);
}

.leave .actions {
  opacity: 1;
  transition: opacity 100ms fastOutSlowIn;
}

.leaveActive .actions {
  opacity: 0;
}

/* TODO(tec27): these styles are common to all menus */
.action {
  composes: row itemsCenter;
  width: 100%;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.actionIcon {
  composes: exact;
  width: 24px;
  overflow: hidden;
  margin-right: 16px;
}

.actionText {
  composes: grow subhead singleLine;
}
