@value colorTextSecondary, colorTextFaint, grey900, grey850 from '../styles/colors.css';
@value blue400, amberA400, colorDividers from '../styles/colors.css';
@value col, row, itemsCenter, itemsStart, justifySpaceBetween from '../styles/flex.css';
@value grow, shrink, take85, take15 from '../styles/flex.css';
@value body1, display1, display2, display4, subhead, headline from '../styles/typography.css';
@value shadow4dp from '../material/shadows.css';

.pageWidth {
  width: 940px;
  margin: 0px auto;
}

.splash {
  background-color: grey900;
  overflow: auto;
}

.topLinks {
  composes: pageWidth;
  pointer-events: all;
  position: absolute;
  top: 8px;
  right: 0;
  list-style: none;
  width: auto;
}

.topLinks > li {
  display: inline;
}

.topLinks > li + li {
  margin-left: 32px;
}

.logoContainer {
  composes: pageWidth;
  pointer-events: none;
  position: absolute;
  left: calc(50% - 940px / 2);
}

.logo {
  float: left;
  margin-top: 8px;
  pointer-events: none;
}

.logotext {
  width: 464px;
  float: right;
  margin-top: 80px;
  pointer-events: none;
}

.intro {
  composes: shadow4dp;
  background-color: grey850;
  margin-top: 180px;
}

.introContent {
  composes: row justifySpaceBetween itemsStart;
  composes: pageWidth;
}

.introText {
  composes: grow shrink;
  max-width: 424px;
  margin-right: 16px;
  margin-top: 240px;
  margin-bottom: 128px;
}

.introHeadline {
  composes: display1;
  font-weight: 300;
}

.introBody {
  composes: subhead;
  color: colorTextSecondary;
  margin-top: 32px;
}

.signup {
  composes: grow shrink;
  max-width: 464px;
  margin: 32px 0 32px 16px;
}

.signupCard {
  width: 100%;
}

.signupTitle {
  margin: 8px 0 0;
}

.signupDone {
  padding: 0 8px;
}

.signupDoneParagraph {
  composes: subhead;
}

.trademarkInfo {
  composes: body1;
  composes: pageWidth;
  color: colorTextFaint;
  margin-top: 16px;
  padding: 0 96px;
  font-size: 12px;
}

.feature {
  composes: row itemsCenter;
  composes: pageWidth;
  padding-top: 64px;
  padding-bottom: 63px;
  border-bottom: 1px solid colorDividers;
}

.featureImage {
  composes: take15;
}

.featureImage svg {
  width: 100%;
  height: auto;
}

.featureText {
  composes: take85;
  padding-right: 48px;
}

.featureTitle {
  composes: display1;
  margin: 0;
}

.titleBlue {
  composes: featureTitle;
  color: blue400;
}

.titleAmber {
  composes: featureTitle;
  color: amberA400;
}

.featureBody {
  composes: subhead;
  color: colorTextSecondary;
  font-size: 20px;
  line-height: 1.5;
  margin: 32px 0 0;
}

.faqHeader {
  composes: display4;
  composes: pageWidth;
  padding: 64px 0 64px 472px;
}

.faqText {
  padding-right: 48px;
}

.faqFeature, .faqTOC {
  composes: row itemsCenter;
  composes: pageWidth;
  padding: 48px 0;
  border-bottom: 1px solid colorDividers;
}

.faqTOC {
  composes: col subhead;
  font-size: 20px;
  line-height: 1.5;
}

.faqQuestion {
  composes: headline;
  color: blue400;
  display: inline-block;
  vertical-align: middle;
  line-height: 48px;
  margin: 0;
}

.faqAnswer {
  composes: subhead;
  color: colorTextSecondary;
  font-size: 20px;
  line-height: 1.5;
  margin: 8px 0 0 80px;
}

.faqAnswer > p {
  line-height: inherit;
}

.faqAnswer > p:first-child {
  margin-top: 0;
}

.faqAnswer ul {
  margin: 0;
  padding: 0;
}

.faqAnswer li {
  margin-left: 1em;
}

.faqQuestionIcon {
  color: blue400;
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  vertical-align: middle;
}
