@value row, itemsCenter, justifyCenter, grow from '../styles/flex.css';
.root {
  padding: 16px;
}

.selectMap {
  composes: row itemsCenter;
}

.mapList {
  composes: grow;
}

.mapBrowse {
  margin-left: 16px;
}

.loadingArea {
  composes: row itemsCenter justifyCenter;
}
