@value colorDividers from '../styles/colors.css';
@value row, col, grow, itemsCenter from '../styles/flex.css';
@value title, subhead, headline, body2 from '../styles/typography.css';

.root {
  padding: 16px;
}

.title {
  composes: title;
  margin-top: 8px;
}

.list {
}

.emptyText {
  composes: subhead;
}

.listEntry {
  composes: row itemsCenter;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 7px;
}

.listEntry:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.08);
}

.listEntry:first-child {
  padding-top: 8px;
}

.listEntry:last-child {
  padding-bottom: 8px;
}

.listEntry + .listEntry {
  border-top: 1px solid colorDividers;
  padding-top: 8px;
}

.info {
  composes: col grow;
}

.name {
  composes: headline;
}

.hostName {
  composes: subhead;
}

.gameType {
  composes: body2;
}

.openSlots {
  composes: body2;
}

.map {
  flex-shrink: 0;
  position: relative;
  width: 128px;
  height: 128px;
  margin-left: 8px;
}
