@value colorDividers from '../styles/colors.css';
@value row, col, grow, itemsCenter, exact from '../styles/flex.css';
@value title, subhead, headline, body2, body1 from '../styles/typography.css';

.title {
  composes: title;
  margin-top: 8px;
}

.list {
}

.emptyText {
  composes: subhead;
}

.listEntry {
  composes: row itemsCenter;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 7px;
}

.listEntry:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.08);
}

.listEntry:first-child {
  padding-top: 8px;
}

.listEntry:last-child {
  padding-bottom: 8px;
}

.listEntry + .listEntry {
  border-top: 1px solid colorDividers;
  padding-top: 8px;
}

.info {
  composes: col grow;
}

.name {
  composes: headline;
}

.hostName {
  composes: subhead;
}

.openSlots {
  composes: body2;
}

.map {
  composes: col exact;
  height: 128px;
  position: relative;
}

.mapName {
  composes: body1;
  position: absolute;
  bottom: 0px;
}

.mapThumbnail {
  width: auto;
  height: 100%;
}
