@value colorTextPrimary, colorTextSecondary, colorTextFaint from '../styles/colors.css';
@value alphaDisabled from '../styles/colors.css';
@value col, row, exact, wrap, justifyCenter, itemsCenter, grow from '../styles/flex.css';
@value display1, subhead, singleLine, title from '../styles/typography.css';
@value fastOutSlowInShort from '../material/curves.css';
@value shadow1dp from '../material/shadows.css';

.content {
  composes: col itemsCenter;
  margin-top: 16px;
  margin-bottom: 16px;
}

.gameType {
  composes: display1;
}

.gameTypeMapBridge {
  composes: display1;
  color: colorTextSecondary;
}

.mapName {
  composes: display1;
}

.mapThumbnail {
  composes: shadow1dp;
  width: 256px;
  border-radius: 2px;
  margin-top: 16px;
}

.players {
  composes: row itemsCenter wrap justifyCenter;
  margin-top: 8px;
}

.player {
  composes: exact row itemsCenter;
  width: 256px;
  margin: 8px;
  overflow: hidden;
  color: colorTextFaint;
}

.readyPlayer {
  composes: player;
  color: colorTextPrimary;
}

.playerAvatar {
  composes: fastOutSlowInShort;
  margin-right: 16px;
  opacity: alphaDisabled;
}

.readyPlayer .playerAvatar {
  opacity: 1;
}

.playerName {
  composes: grow;
  composes: subhead singleLine;
  composes: fastOutSlowInShort;
  color: inherit;
  margin-right: 16px;
}

.playerRace {
  composes: fastOutSlowInShort;
  width: 32px;
  height: 32px;
  opacity: alphaDisabled;
}

.readyPlayer .playerRace {
  opacity: 1;
}

.playerRace svg {
  width: 32px;
  height: 32px;
}

.loadingMessage {
  composes: title;
  color: colorTextSecondary;
  margin-top: 24px;
}
