@value colorTextSecondary, colorTextFaint, colorDividers from '../styles/colors.css';

.contentArea {
  composes: col from '../styles/flex.css';
  padding: 0 16px 16px;
  margin: 0 auto;
  height: 100%;
  max-width: 1140px;
}

.top {
  composes: row justifySpaceBetween itemsStart contentStart from '../styles/flex.css';
  width: 100%;
  height: 100%;
}

.left {
  composes: col grow from '../styles/flex.css';
  padding-top: 16px;
  min-width: 320px;
  height: 100%;
}

.slots {
  composes: exact from '../styles/flex.css';
}

.slotsSparse {
  composes: slots;
}

.slotsDense {
  composes: slots;
  padding-top: 8px;
  padding-bottom: 8px;
}

.slot {
  composes: row itemsCenter from '../styles/flex.css';
  height: 56px;
}

.computerSlot {
  composes: slot;
}

.slotsDense .slot {
  height: 48px;
}

.slotAvatar {
  margin-right: 16px;
}

.slotName {
  composes: grow from '../styles/flex.css';
  composes: subhead from '../styles/typography.css';
  margin-right: 16px;
}

.slotRace {
}

.slotEmptyAvatar {
  composes: slotAvatar;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid colorDividers;
}

.slotEmptyName {
  composes: slotName;
  color: colorTextFaint;
}

.chat {
  composes: grow shrink from '../styles/flex.css';
  padding: 16px;
  overflow-y: auto;
}

.chatInput {
  composes: exact from '../styles/flex.css';
  margin: 0 16px;
}

.info {
  margin: 16px 0 16px 24px;
  width: 256px;
}

.mapName {
  composes: headline from '../styles/typography.css';
  margin-top: 0;
  margin-left: 24px;
  margin-right: 24px;
}

.mapThumbnail {
  composes: shadow1dp from '../material/shadows.css';
  width: 256px;
  border-radius: 2px;
}

.infoItem {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 8px;
}

.infoLabel {
  composes: body2 from '../styles/typography.css';
  color: colorTextSecondary;
}

.infoValue {
  composes: subhead from '../styles/typography.css';
  margin-left: 24px;
}

.startButton {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 12px;
  width: calc(100% - 24px - 24px);
}
