@value colorTextSecondary, colorTextFaint, colorDividers from '../styles/colors.css';
@value colorTextPrimary, blue100, blue200, grey700 from '../styles/colors.css';
@value row, col, grow, shrink, exact, justifySpaceBetween, itemsCenter from '../styles/flex.css';
@value justifyStart, justifyEnd, wrap from '../styles/flex.css';
@value subhead, headline, body1, body2, singleLine from '../styles/typography.css';
@value fastOutSlowIn from '../material/curve-constants.css';
@value shadow1dp from '../material/shadows.css';

.contentArea {
  composes: row justifySpaceBetween;
  padding: 0 16px;
  margin: 0 auto;
  height: 100%;
  max-width: 1140px;
}

.preLobbyArea {
  composes: col;
  padding: 0 16px;
}

.loadingArea {
  composes: row itemsCenter;
  height: 32px;
}

.left {
  composes: col grow;
  padding-top: 16px;
  min-width: 320px;
  min-height: 100%;
  max-height: 100%;
}

.slotSwapIcon {
  font-size: 16px;
  line-height: 16px;
}

.info {
  composes: exact;
  margin: 16px 0 16px 40px;
  width: 256px;
}

.mapName {
  composes: headline;
  margin: 0;
}

.mapThumbnail {
  composes: shadow1dp;
  width: 256px;
  border-radius: 2px;
  margin-top: 8px;
}

.infoItem {
  composes: row itemsCenter;
  margin: 8px 0 0;
}

.infoLabel {
  composes: body1;
  color: colorTextSecondary;
}

.infoValue {
  composes: subhead grow;
  margin-left: 16px;
}

.startButton {
  margin-top: 12px;
}
