@value colorTextSecondary, colorTextFaint, colorDividers from '../styles/colors.css';
@value colorTextPrimary, blue100, blue200, grey700 from '../styles/colors.css';
@value row, col, grow, shrink, exact, justifySpaceBetween, itemsCenter from '../styles/flex.css';
@value justifyStart from '../styles/flex.css';
@value subhead, headline, body1, body2, singleLine from '../styles/typography.css';
@value fastOutSlowIn from '../material/curve-constants.css';
@value shadow1dp from '../material/shadows.css';

.appBarContent {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 0px;
}

.contentArea {
  composes: row justifySpaceBetween;
  padding: 0 16px;
  margin: 0 auto;
  height: calc(100% - 64px);
  max-width: 1140px;
}

.preLobbyArea {
  composes: col;
  padding: 0 16px;
}

.loadingArea {
  composes: row itemsCenter;
  height: 32px;
}

.left {
  composes: col grow;
  padding-top: 16px;
  min-width: 320px;
  min-height: 100%;
  max-height: 100%;
}

.slots {
  composes: exact;
  padding-top: 8px;
  padding-bottom: 8px;
}

.teamName {
  composes: body2 singleLine;
  display: block;
  color: colorTextSecondary;
  line-height: 24px;
  height: 24px;
}

.slot + .teamName {
  margin-top: 8px;
}

.slot {
  composes: row itemsCenter justifyStart;
  height: 40px;
}

.slotAvatar {
  width: 24px !important;
  height: 24px !important;
  margin-right: 16px;
}

.slotLeft {
  composes: row grow itemsCenter;
  max-width: 33.33%;
}

.slotLeftOpen {
  composes: slotLeft;
  cursor: pointer;
}

.slotName {
  composes: shrink grow;
  composes: subhead singleLine;
  margin-right: 8px;
  max-width: 256px;
}

.slotRight {
  composes: row exact itemsCenter justifySpaceBetween;
  width: 66.66%;
  min-width: 156px;
}

.slotRace {
}

.slotEmptyAvatar {
  /* extra size accounts for border */
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid colorDividers;
  text-align: center;
  margin-right: 16px;
  color: colorTextSecondary;
}

.slotSwapIcon {
  font-size: 16px;
  line-height: 16px;
}

.slotEmptyName {
  composes: slotName;
  color: colorTextFaint;
}

.slotActionsContents {
  min-width: 160px;
}

.slotActions {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.enter .slotActions {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: fastOutSlowIn;
}

.enterActive .slotActions {
  opacity: 1;
}

.leave .slotActions {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: fastOutSlowIn;
}

.leaveActive .slotActions {
  opacity: 0;
}

.chat {
  composes: grow shrink;
  padding: 16px 8px 0px;
  overflow-y: auto;
}

.chatInput {
  composes: exact;
  margin: 0 16px 0 16px;
}

.info {
  composes: exact;
  margin: 28px 0 16px 40px;
  width: 256px;
}

.mapName {
  composes: headline;
  margin: 0;
}

.mapThumbnail {
  composes: shadow1dp;
  width: 256px;
  border-radius: 2px;
  margin-top: 8px;
}

.infoItem {
  composes: row itemsCenter;
  margin: 8px 0 0;
}

.infoLabel {
  composes: body1;
  color: colorTextSecondary;
}

.infoValue {
  composes: subhead grow;
  margin-left: 16px;
}

.startButton {
  margin-top: 12px;
}

.chatSystemMessage {
  color: blue100;
}

.chatImportant {
  composes: body2;
  line-height: inherit;
  color: blue200;
}
