@value grey900, colorTextPrimary, colorTextSecondary, colorTextFaint from '../styles/colors.css';
@value col, grow, exact, justifyStart, justifyCenter, itemsCenter from '../styles/flex.css';
@value button as buttonText from '../styles/typography.css';
@value reset from '../material/button-reset.css';
@value iconButton from '../material/button.css';
@value shadow3dp from '../material/shadows.css';

.activityBar {
  composes: col exact justifyStart itemsCenter;
  composes: shadow3dp;
  width: 96px;
  background-color: grey900;
  padding-bottom: 8px;
  overflow: hidden;
}

.button {
  composes: col justifyCenter itemsCenter;
  composes: reset;
  composes: iconButton;
  display: flex;
  border-radius: 0px;
  width: 100%;
  min-height: 96px;
  padding: 8px;
  margin-top: 8px;
  text-align: center;
  color: colorTextSecondary;
}

.button:hover:not([disabled]) {
  color: colorTextPrimary;
  background-color: rgba(255, 255, 255, 0.05);
}

.button:active:not([disabled]) {
  background-color: rgba(255, 255, 255, 0.1);
}

.button[disabled] {
  color: colorTextFaint;
}

.buttonLabel {
  composes: buttonText;
  font-size: 11px;
  margin-top: 8px;
}

.buttonIcon {
}

.spacer {
  composes: grow;
}
