@value grey700, grey800 from '../../styles/colors.css';
@value fastOutSlowIn, linearOutSlowIn, fastOutLinearIn from '../curves.css';
@value zIndexMenu, zIndexMenuBackdrop from '../zindex.css';
@value shadowDef8dp from '../shadows.css';

.overlay {
  composes: shadow8dp from '../shadows.css';
  background-color: grey800;
  position: fixed;
  z-index: zIndexMenu;
  max-height: 256px;
  min-height: 48px;
  min-width: 156px;
  padding: 8px 0px;
  overflow-y: auto;
}

.menuItem {
  composes: row itemsCenter from '../../styles/flex.css';
  composes: singleLine subhead from '../../styles/typography.css';
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 0 16px;
  height: 48px;
}

.active {
  background-color: grey700;
}

.menuItemText {
}

.backdrop {
  z-index: zIndexMenuBackdrop;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.enter.overlay {
  opacity: 0;
  transform: scale(0.95, 0.5);
  box-shadow: none;
  transition: transform 200ms fastOutSlowIn, opacity 100ms linearOutSlowIn,
      box-shadow 100ms linearOutSlowIn;
}

.enterActive.overlay {
  opacity: 1;
  box-shadow: shadowDef8dp;
  transform: scale(1, 1);
}

.leave.overlay {
  pointer-events: none;
  transition: transform 200ms fastOutSlowIn, opacity 150ms fastOutLinearIn 50ms,
      box-shadow 100ms fastOutLinearIn;
  opacity: 1;
  transform: scale(1, 1);
  box-shadow: shadowDef8dp;
}

.leaveActive.overlay {
  opacity: 0;
  transform: scale(0.95, 0.6);
  box-shadow: none;
}
