@value colorTextSecondary, colorDividers from '../styles/colors.css';
@value row, col, grow, exact, justifyEnd, itemsCenter, justifyCenter from '../styles/flex.css';
@value body2, singleLine from '../styles/typography.css';
@value fastOutSlowIn from '../material/curve-constants.css';

.container {
  composes: row;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  max-width: 1140px;
}

.loadingArea {
  composes: row itemsCenter justifyCenter;
  padding-top: 16px;
}

.messagesAndInput {
  composes: grow;
  min-width: 320px;
  height: 100%;
}

.messages {
  height: calc(100% - 56px - 16px); /* chat input height + margin */
  margin: 0 0 -1px 0;
  /* Without this, Chrome flashes a frame+ of a pure white border when added */
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: border 250ms fastOutSlowIn;
}

.messagesScrollBorder {
  composes: messages;
  border-bottom: 1px solid colorDividers;
}

.chatInput {
  margin: 8px 0;
  padding: 0 16px;
}

.userList {
  composes: exact;
  width: 256px;
}

.userListSection {
  padding-left: 16px;
}

.userListSection:first-child {
  padding-top: 16px;
}

.userListSection:last-child {
  padding-bottom: 16px;
}

.userListSection + .userListSection {
  margin-top: 16px;
}

.userListRow {
  height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.userSubheader {
  composes: body2 singleLine;
  composes: userListRow;
  color: colorTextSecondary;
}

.userSublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.userListEntry {
  composes: userListRow;
}

.navLeaveButton {
  min-height: 32px !important;
  width: 32px !important;
  padding: 0 !important;
  line-height: 32px !important;
  margin-right: 4px !important;
}

.navLeaveButton > span {
  line-height: 32px !important;
}
