@value colorTextSecondary, colorDividers from '../styles/colors.css';
@value row, col, grow, exact, justifyEnd from '../styles/flex.css';
@value body2, singleLine from '../styles/typography.css';
@value fastOutSlowIn from '../material/curve-constants.css';

.container {
  composes: row;
  padding: 0;
  margin: 0 auto;
  height: calc(100vh - 64px);
  max-width: 1140px;
}

.appBarContent {
  max-width: 1140px;
  margin: 0 auto;
}

.messagesAndInput {
  composes: grow;
  min-width: 320px;
  height: 100%;
}

.messages {
  height: calc(100% - 44px);
}

.chatInput {
  margin: -1px 0 0 0;
  padding: 0 16px;
  /* Without this, Chrome flashes a frame+ of a pure white border when added */
  border-top: 1px solid rgba(0, 0, 0, 0);
  transition: border 250ms fastOutSlowIn;
}

.chatInputScrollBorder {
  composes: chatInput;
  border-top: 1px solid colorDividers;
}

.userList {
  composes: exact;
  width: 256px;
}

.userListSection {
  padding-left: 16px;
}

.userListSection:first-child {
  padding-top: 16px;
}

.userListSection:last-child {
  padding-bottom: 16px;
}

.userListSection + .userListSection {
  margin-top: 16px;
}

.userListRow {
  height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.userSubheader {
  composes: body2 singleLine;
  composes: userListRow;
  color: colorTextSecondary;
}

.userSublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.userListEntry {
  composes: userListRow;
}
