@value colorTextSecondary from '../styles/colors.css';

.message {
  composes: row itemsStart from '../styles/flex.css';
  min-height: 40px;
  margin-bottom: 8px;
}

.avatar {
  composes: exact from '../styles/flex.css';
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.avatar > svg, .avatar > img {
  width: 100%;
  height: 100%;
}

.content {
  composes: col grow from '../styles/flex.css';
  margin-left: 16px;
}

.metadata {
  composes: row justifySpaceBetween from '../styles/flex.css'
}

.username {
  composes: body2 from '../styles/typography.css';
  color: colorTextSecondary;
  line-height: 1;
}

.timestamp {
  composes: caption from '../styles/typography.css';
  color: colorTextSecondary;
  line-height: 14px;
}

.text {
  composes: body1 from '../styles/typography.css';
  margin-top: 4px;
}
