@value colorTextSecondary, colorTextFaint from '../styles/colors.css';

.message {
  composes: row itemsStart from '../styles/flex.css';
  composes: body1 from '../styles/typography.css';
  line-height: 20px;
  min-height: 20px;
  margin-bottom: 4px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

.timestamp {
  composes: exact from '../styles/flex.css';
  composes: caption from '../styles/typography.css';
  color: colorTextFaint;
  line-height: inherit;
  margin-right: 8px;
}

.username {
  composes: exact from '../styles/flex.css';
  composes: body2 from '../styles/typography.css';
  color: colorTextSecondary;
  line-height: inherit;
}

.text {
  composes: grow shrink from '../styles/flex.css';
  line-height: inherit;
  margin-left: 16px;
}
