@require '../colors.styl'
@require './shadows.styl'
@require './zindex.styl'

.md-app-bar
  display flex
  align-items baseline
  width 100%
  height 64px
  margin 0
  padding 0 16px
  background-color $blue800
  position relative
  z-index $zIndexAppBar
  shadow4dp()

  h4
    flex 1
    line-height @height
    margin 0
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  button
    align-self center
    &:not([disabled]):hover
      background-color transparent

  button:last-child
    margin-right -16px
