@require '../colors.styl'

.card
  background-color $grey800
  border-radius 2px
  // TODO(tec27): there's probably places we don't want 16px padding (full bleed images),
  // figure out a good way to handle that
  padding 16px
