@require './curves.styl'
@require './shadows.styl'
@require './units.styl'
@require './zindex.styl'
@require '../colors.styl'

.dialog-container
  position fixed
  z-index $zIndexDialog
  top 0px
  left 0px
  right 0px
  bottom 0px
  display flex
  flex-direction column
  justify-content center
  align-items center

.dialog-contents
  width 80%
  max-width 768px
  max-height 80%
  margin 0px auto
  z-index $zIndexDialog
  opacity 1
  background-color $grey800
  border-radius 2px
  shadow8dp()

.dialog-title
  margin 0
  padding 24px 24px 0 24px

.dialog-body
  padding 0 24px 24px 24px
  margin-top 20px
  overflow-y auto
  overflow-x hidden

.dialog-actions
  padding 8px 4px 0px 4px
  margin-bottom 2px
  width 100%
  text-align right

.dialog-scrim
  position fixed
  height 100%
  width 100%
  z-index $zIndexDialogScrim
  top 0px
  left 0px
  opacity 1
  background-color $dialogScrim
