$shadowMultiplier = 0.7
$shadowKeyUmbraOpacity = $shadowMultiplier * 0.2
$shadowKeyPenumbraOpacity = $shadowMultiplier * 0.14
$shadowAmbientOpacity = $shadowMultiplier * 0.12

doShadow(offsetY, blurRadius, spreadRadius, opacity)
  0px offsetY blurRadius spreadRadius rgba(0, 0, 0, opacity)

doUmbra(offsetY, blurRadius, spreadRadius)
  doShadow(offsetY, blurRadius, spreadRadius, $shadowKeyUmbraOpacity)

doPenumbra(offsetY, blurRadius, spreadRadius)
  doShadow(offsetY, blurRadius, spreadRadius, $shadowKeyPenumbraOpacity)

doAmbient(offsetY, blurRadius, spreadRadius)
  doShadow(offsetY, blurRadius, spreadRadius, $shadowAmbientOpacity)

$shadow2dp = doUmbra(1px, 5px, 0px), doPenumbra(2px, 2px, 0px), doAmbient(3px, 1px, -2px)
$shadow4dp = doUmbra(2px, 4px, -1px), doPenumbra(4px, 5px, 0px), doAmbient(1px, 10px, 0px)
$shadow6dp = doUmbra(3px, 5px, -1px), doPenumbra(6px, 10px, 0px), doAmbient(1px, 18px, 0px)
$shadow8dp = doUmbra(5px, 5px, -3px), doPenumbra(8px, 10px, 1px), doAmbient(3px, 14px, 2px)
$shadow16dp = doUmbra(8px, 10px, -5px), doPenumbra(16px, 24px, 2px), doAmbient(6px, 30px, 5px)

shadow2dp()
  box-shadow $shadow2dp
  z-index 2 unless @z-index

.shadow-2dp
  shadow2dp()

shadow4dp()
  box-shadow $shadow4dp
  z-index 4 unless @z-index

.shadow-4dp
  shadow4dp()

shadow6dp()
  box-shadow $shadow6dp
  z-index 6 unless @z-index

.shadow-6dp
  shadow6dp()

shadow8dp()
  box-shadow $shadow8dp
  z-index 8 unless @z-index

.shadow-8dp
  shadow8dp()

shadow16dp()
  box-shadow $shadow16dp
  z-index 16 unless @z-index

.shadow-16dp
  shadow16dp()
