@require '../colors.styl'
@require '../typography.styl'
@require './units.styl'

$inputErrorHeight = 24px
.text-field
  relativeFontSize(16)
  display flex
  flex-direction column
  align-items flex-start
  position relative
  padding 2px

  input[type="text"],
  input[type="password"]
  input[type="datetime"]
  input[type="datetime-local"]
  input[type="date"]
  input[type="month"]
  input[type="time"]
  input[type="week"]
  input[type="number"]
  input[type="email"]
  input[type="url"]
  input[type="search"]
  input[type="tel"]
  input[type="color"]
    -moz-appearance none
    -webkit-appearance none

  input[type="date"]
  input[type="datetime-local"]
  input[type="month"]
  input[type="time"]
  input[type="week"]
    min-height (24 / 16)

  label
    position relative
    top -2px
    color $colorTextFaint

  &.floating-label label
    order 1
    pointer-events none
    -webkit-font-smoothing antialiased
    padding-left 2px
    z-index 1
    transform translate3d(0, 28px, 0) scale(1)
    transform-origin left top
    doTransition(duration: 250ms)

  input
    flex 1 1 auto
    order 2
    display block
    border none
    border-radius 0
    outline none
    background none
    color $colorTextPrimary
    padding-top 2px
    padding-bottom 0px
    padding-left 2px
    padding-right 2px
    line-height inherit
    -ms-flex-preferred-size inherit

    &:focus
      outline none
    &:invalid
      outline none
      box-shadow none

  .text-field-underline
  .text-field-focus-underline
    pointer-events none
    border none
    border-bottom 1px solid $colorDividers
    order 3
    width 100%
    margin 0

  .text-field-focus-underline
    margin-top -1px
    border-bottom-width 2px
    border-color $amberA400
    transform scaleX(0)
    doTransition(duration: 250ms)

  .text-field-error-container
    pointer-events none
    height $inputErrorHeight
    order 4

  .text-field-error
    pointer-events none
    relativeFontSize(12)
    line-height $inputErrorHeight
    order 4
    color $colorError

  .text-field-error-enter
    opacity 0
    transform translate3d(0, -30%, 0)
    doTransition(curve: $linearOutSlowIn, duration: 250ms)

  .text-field-error-enter.text-field-error-enter-active
    opacity 1
    transform translate3d(0, 0, 0)

  .text-field-error-leave
    opacity 1
    transform translate3d(0, 0, 0)
    doTransition(curve: $fastOutLinearIn, duration: 250ms)

  .text-field-error-leave.text-field-error-leave-active
    opacity 0
    transform translate3d(0, -30%, 0)

  &.error
    .text-field-focus-underline
      border-color $colorError
      transform scaleX(1)

  &.has-value:not(.floating-label)
    label
      opacity 0

  &.disabled
    input
      color $colorTextFaint

    .text-field-underline
      height 1px
      border none
      background-position 0 bottom
      background-size 4px 1px
      background-repeat repeat-x
      background-image linear-gradient(to right, $colorDividers 0%, $colorDividers 33%, transparent 0%)

  &.focused
    .text-field-focus-underline
      transform scaleX(1)

  &.floating-label
    &.focused
    &.has-value
      label
        transform translate3d(0, 6px, 0) scale(0.75)

    &.focused
      label
        color $amberA400

    &.disabled
      label
        color $colorTextFaint

    &.error
      label
        color $colorError
