@value grey700 from '../../styles/colors.css';
@value row, itemsCenter, grow, exact from '../../styles/flex.css';
@value singleLine, subhead from '../../styles/typography.css';
@value zIndexMenuBackdrop from '../zindex.css';

.item {
  composes: row itemsCenter;
  composes: singleLine subhead;
  cursor: pointer;
  position: relative;
  width: auto;
  height: 48px;
  padding: 0 16px;
}

.active {
  composes: item;
  background-color: grey700;
}

.itemText {
  composes: grow;
}

.itemIcon {
  composes: exact;
  width: 24px;
  overflow: hidden;
  margin-right: 16px;
}
