@value colorTextFaint, grey800, grey700, colorDividers, amberA400 from '../../styles/colors.css';
@value fastOutSlowIn, linearOutSlowIn, fastOutLinearIn from '../curves.css';
@value zIndexMenu, zIndexMenuBackdrop from '../zindex.css';
@value shadowDef8dp from '../shadows.css';

.select {
  composes: col itemsStart from '../../styles/flex.css';
  position: relative;
  line-height: 32px;
  font-size: 16px;
  cursor: pointer;
  padding: 2px;
  min-width: 64px;
}

.disabled {
  color: colorTextFaint;
}

.valueContainer {
  composes: row from '../../styles/flex.css';
  min-width: 64px;
  width: 100%;
}

.valueContainer:focus {
  outline: none;
}

.value {
  composes: grow from '../../styles/flex.css';
  composes: singleLine subhead from '../../styles/typography.css';
  line-height: inherit;
  padding-left: 2px;
  padding-top: 2px;
}

.icon {
  display: block;
  text-align: end;
  width: 24px;
  margin: 0 0 0 4px;
  line-height: inherit;
}

.overlay {
  composes: shadow8dp from '../shadows.css';
  background-color: grey800;
  position: fixed;
  z-index: zIndexMenu;
  max-height: 256px;
  min-height: 48px;
  padding: 8px 0px;
  overflow-y: auto;
}

.enter.overlay {
  opacity: 0;
  transform: scale(0.95, 0.5);
  box-shadow: none;
  transition: transform 200ms fastOutSlowIn, opacity 100ms linearOutSlowIn,
      box-shadow 100ms linearOutSlowIn;
}

.enterActive.overlay {
  opacity: 1;
  box-shadow: shadowDef8dp;
  transform: scale(1, 1);
}

.leave.overlay {
  pointer-events: none;
  transition: transform 200ms fastOutSlowIn, opacity 150ms fastOutLinearIn 50ms,
      box-shadow 100ms fastOutLinearIn;
  opacity: 1;
  transform: scale(1, 1);
  box-shadow: shadowDef8dp;
}

.leaveActive.overlay {
  opacity: 0;
  transform: scale(0.95, 0.6);
  box-shadow: none;
}
