@value colorTextFaint, grey800, grey700, colorDividers, amberA400 from '../../styles/colors.css';
@value fastOutSlowIn, linearOutSlowIn, fastOutLinearIn from '../curves.css';
@value zIndexMenu, zIndexMenuBackdrop from '../zindex.css';

.select {
  composes: col itemsStart from '../../styles/flex.css';
  position: relative;
  line-height: 32px;
  font-size: 16px;
  cursor: pointer;
  padding: 2px;
  min-width: 64px;
}


.disabled {
  color: colorTextFaint;
}

.valueContainer {
  composes: row from '../../styles/flex.css';
  min-width: 64px;
  width: 100%;
}

.valueContainer:focus {
  outline: none;
}

.value {
  composes: grow from '../../styles/flex.css';
  composes: singleLine subhead from '../../styles/typography.css';
  line-height: inherit;
  padding-left: 2px;
  padding-top: 2px;
}

.icon {
  display: block;
  text-align: end;
  width: 24px;
  margin: 0 0 0 4px;
  line-height: inherit;
}

.overlay {
  composes: shadow8dp from '../shadows.css';
  background-color: grey800;
  position: fixed;
  z-index: zIndexMenu;
  max-height: 256px;
  min-height: 48px;
  padding: 8px 0px;
  overflow-y: auto;
}

.option {
  composes: row itemsCenter from '../../styles/flex.css';
  composes: singleLine subhead from '../../styles/typography.css';
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 0 16px;
  height: 48px;
}

.option:hover {
  background-color: grey700;
}

.optionText {
}

.backdrop {
  z-index: zIndexMenuBackdrop;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.enter.overlay {
  opacity: 0;
  transform: scale(0.85, 0.5);
  transition: transform 200ms fastOutSlowIn, opacity 100ms linearOutSlowIn;
}

.enterActive.overlay {
  opacity: 1;
  transform: scale(1, 1);
}

.leave.overlay {
  pointer-events: none;
  transition: transform 200ms fastOutSlowIn, opacity 150ms fastOutSlowIn 50ms;
  opacity: 1;
  transform: scale(1, 1);
}

.leaveActive.overlay {
  opacity: 0;
  transform: scale(0.85, 0.5);
}
