@value blue400, blue800, amberA200, amberA400, grey800 from '../../styles/colors.css';
@value colorDividers, colorTextPrimary, colorTextSecondary from '../../styles/colors.css';
@value col, grow, exact, row, itemsCenter, justifySpaceBetween, wrap from '../../styles/flex.css';
@value body2, singleLine from '../../styles/typography.css';
@value fastOutSlowIn from '../curve-constants.css';
@value standardIncrement from '../units.css';

.leftNav {
  composes: col exact;
  width: 240px;
  height: 100%;
  background-color: grey850;
}

.sections {
  composes: grow;
  padding: 8px 0 0;
}

.footer {
  composes: row wrap justifySpaceBetween itemsCenter;
  padding: 0 12px;
}

.entryCommon {
  height: 36px;
  line-height: 36px;
}

.subheader {
  composes: row justifySpaceBetween itemsCenter;
}

.subheaderTitle {
  composes: body2 singleLine;
  composes: entryCommon;
  color: colorTextSecondary;
  margin: 0 16px;
}

.section {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entry {
  composes: row justifySpaceBetween itemsCenter;
  composes: entryCommon;
  position: relative;
  margin: 0;
  padding: 0;
}

.entryLink {
  composes: grow;
  composes: singleLine;
  height: 100%;
  padding: 0 16px;
}

.active {
  composes: entry;
  background-color: rgba(255, 255, 255, 0.12);
  color: amberA200;
}

.entry:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.entryButton {
  opacity: 0;
  transition: opacity 200ms fastOutSlowIn;
}

.entry:hover .entryButton {
  opacity: 1;
}

@custom-selector :--any-link :link, :visited, :hover, :active;

.entry a:--any-link {
  color: currentColor;
  text-decoration: none;
}

.attentionIndicator {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 4px;
  top: calc(50% - 4px);

  border-radius: 50%;
  background-color: amberA200;
}
