@value colorTextPrimary, colorTextSecondary, colorTextFaint from '../styles/colors.css';
@value colorError, colorDividers, amberA400, blue700, blue800, grey700 from '../styles/colors.css';
@value row, col, exact, grow, shrink, itemsCenter, justifyCenter from '../styles/flex.css';
@value justifySpaceBetween from '../styles/flex.css';
@value title, subhead, caption, headline from '../styles/typography.css';
@value shadow4dp from '../material/shadows.css';

.root {
  composes: col;
  width: 100%;
  height: 100%;
}

.root:focus {
  outline: none;
}

.topBar {
  composes: shadow4dp;
  background: blue800;
}

.title {
  composes: row itemsCenter;
  width: 100%;
  height: 64px;
  padding-left: 16px;
  padding-right: 16px;
}

.contentTitle {
  composes: headline grow;
  margin: 0;
}

.breadcrumbsAndActions {
  composes: row itemsCenter justifySpaceBetween;
  width: 100%;
  height: 48px;
  padding-right: 16px;
}

.path {
  composes: row itemsCenter;
  padding-left: 8px;
  padding-right: 8px;
}

.loading {
  composes: row itemsCenter justifyCenter;
  margin-top: 24px;
  height: 32px;
}

.breadcrumb {
  composes: exact title;
  height: 48px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px;
  font-weight: normal;
  color: colorTextSecondary;
  cursor: pointer;
}

.breadcrumbActive {
  composes: breadcrumb;
  color: colorTextPrimary;
  cursor: auto;
}

.breadcrumbSeparator {
  composes: exact;
  color: colorTextFaint;
  display: inline-block;
}

.filesScrollable {
  composes: grow shrink;
}

.filesScrollableView {
}

.fileList,
.fileList > div {
  &:focus {
    outline: none;
  }
}

.entry {
  composes: row itemsCenter;
  width: 100%;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
}

.entry:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.08);
}

.entry.focused {
  background-color: rgba(255, 255, 255, 0.16);
}

.entryIcon {
  composes: exact;
  border-radius: 50%;
  background: colorTextSecondary;
  color: rgba(0, 0, 0, 0.54);
  width: 40px;
  height: 40px;
  margin-right: 16px;
  padding: 8px;
}

.file .entryIcon {
  background: blue700;
  color: colorTextPrimary;
}

.folder .entryIcon {
  background: amberA400;
}

.info {
  composes: col grow;
}

.name {
  composes: subhead;
}

.date {
  composes: caption;
}

.externalError {
  padding: 8px;
  color: colorError;
  border-bottom: 1px solid colorDividers;
}
