@value colorText from '../styles/colors.css';
@value col, row, itemsCenter from '../styles/flex.css';
@value display1, body1, body2 from '../styles/typography.css';

:global(#app) .wrapper {
  width: calc(640px + (16px * 2));
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 192px;
  height: 192px;
}

.logoText {
  display: block;
  margin: 0 auto 32px;
  text-align: center;
}

.blurb {
  composes: body2;
  margin-bottom: 24px;
  text-align: center;
}

.installerLinks {
  composes: col;
  max-width: 420px;
  margin: 0px auto;
}

.icon {
  color: colorText;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.buttonLabel {
  composes: row itemsCenter;
}

.installerLink {
  composes: display1;
}
