*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
body {
  color: #333;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.45;
  margin: 0px;
}
main {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 0;
  border-collapse: collapse;
}
nav {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #ccc;
  overflow: hidden;
}
p {
  margin: 0 0 10px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-1 {
  width: 8.333333333333334%;
}
.col-2 {
  width: 16.666666666666668%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333333333336%;
}
.col-5 {
  width: 41.666666666666664%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333333%;
}
.col-11 {
  width: 91.66666666666667%;
}
.col-12 {
  width: 100%;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 18px;
  margin-left: 18px;
  min-width: 612px;
}
@media (min-width: 996px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }
}
@media (min-width: 1236px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
  }
}
.left-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: #ccc;
  border-radius: 0 0 0 4px;
}
.chat-messages {
  height: 400px;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 2px 4px;
  overflow: auto;
}
.chat-messages p {
  font-size: 13.6px;
  margin: 0px;
}
.route-error {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  background-color: #f99;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #ccc;
}
