@value colorTextSecondary, colorError, colorSuccess from '../styles/colors.css';
@value row, col, grow, take33, itemsCenter, justifyCenter from '../styles/flex.css';
@value display1 from '../styles/typography.css';
@value fastOutSlowIn from '../material/curve-constants.css';

.content {
  position: relative;
  width: 100%;
}

.title {
  composes: display1;
  text-align: center;
  margin-top: 0;
}

.form {
  opacity: 1;
  transition: opacity 150ms fastOutSlowIn;
}

.formLoading {
  composes: form;
  pointer-events: none;
  opacity: 0;
}

.formContents {
  width: 100%;
  padding-left: 24%;
  padding-right: 24%;
}

.loadingArea {
  composes: row itemsCenter justifyCenter;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.errors {
  composes: grow;
  color: colorError;
}

.success {
  composes: grow;
  color: colorSuccess;
}

.fieldRow {
  width: 100%;
  margin-top: 16px;
}

.bottomAction {
  composes: col itemsCenter;
  margin-top: 56px;
}

.bottomActionButtonLabel {
  color: colorTextSecondary;
  font-weight: 400;
}
