@value grey850 from '../styles/colors.css';

.draggable {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

:global(.electron) .background {
  overflow: hidden;
}

.background {
  composes: draggable;
}

.windowControls {
  width: 100%;
  background-color: grey850;
}

:global(.electron) .wrapper {
  height: calc(100% - 32px);
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}

:global(#app) .contents {
  width: calc(640px + (16px * 2));
  margin: 0 auto;
}

.wrapper {
  -webkit-app-region: no-drag;
  -webkit-user-select: initial;
}

.logo {
  composes: draggable;
  display: block;
  margin: 0 auto;
  width: 192px;
  height: 192px;
}

.logoText {
  composes: draggable;
  display: block;
  margin: 0 auto 8px;
  text-align: center;
}
