@value colorTextSecondary, colorError from '../styles/colors.css';
@value row, col, grow, take33, itemsCenter, justifyCenter from '../styles/flex.css';
@value display1 from '../styles/typography.css';
@value fastOutSlowIn from '../material/curve-constants.css';

.content {
  position: relative;
  width: 100%;
}

.title {
  composes: display1;
  text-align: center;
  margin-top: 0;
}

.form {
  opacity: 1;
  transition: opacity 150ms fastOutSlowIn;
}

.formLoading {
  composes: form;
  pointer-events: none;
  opacity: 0;
}

.loadingArea {
  composes: row itemsCenter justifyCenter;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.errors {
  composes: grow;
  color: colorError;
  padding-left: 24%;
  padding-right: 24%;
}

.fieldRow {
  composes: row itemsCenter;
  width: 100%;
  margin-top: 16px;
}

.rowEdge {
  flex: 1 1 24%;
  max-width: 24%;
  max-height: 100%;
}

.rowEdge > * {
  float: right;
}

.forgotActionLabel {
  color: colorTextSecondary;
  font-weight: 400;
  font-size: 12px;
}

.spacer {
  composes: grow;
}

.textField {
  composes: grow;
}

.checkBox {
  composes: take33;
}

.bottomAction {
  composes: col itemsCenter;
  margin-top: 56px;
}

.bottomActionButtonLabel {
  color: colorTextSecondary;
  font-weight: 400;
}
