@value blue400, amberA400 from '../styles/colors.css';
@value take100, row, wrap, take33, justifyCenter from '../styles/flex.css';

:global(#app) .wrapper {
  width: calc(640px + (16px * 2));
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 192px;
  height: 192px;
}

.logoText {
  display: block;
  margin: 0 auto 8px;
  text-align: center;
}

.content {
  width: 448px;
  margin: auto;
}

.wrapper form > h3 {
  margin-top: 0;
}

.errors {
  composes: take100;
}

.fields {
  composes: row wrap;
}

.textFields {
  composes: take100;
}

.checkboxes {
  composes: take33;
}

.bottomAction {
  composes: row justifyCenter;
}

.bottomAction > p {
  margin-right: 8px;
}
