@value take100, row, wrap, take33, itemsCenter, justifyCenter from '../styles/flex.css';
@value headline from '../styles/typography.css';
@value fastOutSlowIn from '../material/curve-constants.css';

.content {
  width: 448px;
  margin: auto;
}

.card {
  position: relative;
}

.cardTitle {
  composes: headline;
  margin-top: 0;
}

.form {
  opacity: 1;
  transition: opacity 150ms fastOutSlowIn;
}

.formLoading {
  composes: form;
  pointer-events: none;
  opacity: 0;
}

.loadingArea {
  composes: row itemsCenter justifyCenter;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.errors {
  composes: take100;
}

.fields {
  composes: row wrap;
}

.textFields {
  composes: take100;
}

.checkboxes {
  composes: take33;
}

.bottomAction {
  composes: row justifyCenter;
}

.bottomAction > p {
  margin-right: 8px;
}
