@value colorTextSecondary from '../styles/colors.css';

.users {
  padding: 0 20px;
}

.saveForm {
}

.invites {
  padding: 20px;
}

.invitesError {
}

.filterInvites {
  padding-bottom: 20px;
}

.filterInvites > a {
  padding-right: 20px;
}

.invitesTable {
  text-align: left;
}

.invitesTable th, td {
  width: 100px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 5px solid transparent;
  padding: 5px;
}

.invitesTable th {
  color: colorTextSecondary;
  font-weight: 500;
}
