[package]
name = "server"
version = "0.1.0"
edition = "2021"

default-run = "server"

[lib]
path = "src/lib.rs"

[[bin]]
name = "server"
path = "src/main.rs"

[[bin]]
name = "gen-schema"
path = "src/bin/gen-schema.rs"

[dependencies]
async-graphql = { version = "6.0", features = ["dataloader", "tracing"] }
async-graphql-axum = "6.0"
async-trait = "0.1"
axum = { version = "0.6", features = ["headers"] }
axum-client-ip = "0.4"
axum-prometheus = "0.4"
base64 = "0.21"
bcrypt = "0.15"
color-eyre = "0.6"
chrono = "0.4"
dotenvy = "0.15"
gethostname = "0.4"
ipnetwork = "0.20"
mobc = "0.8"
mobc-redis = "0.8"
rand = "0.8"
redis = { version = "0.23", features = ["tokio-rustls-comp"] }
reqwest = { version = "0.11", default-features = false, features = ["brotli", "deflate", "gzip", "json", "rustls-tls"] }
secrecy = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
thiserror = "1.0"
tokio = { version = "1.26", features = ["macros", "rt-multi-thread"] }
tower = { version = "0.4", features = ["timeout", "util"] }
tracing = "0.1"
tracing-bunyan-formatter = "0.3"
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] }
uuid = { version = "1.3", features = ["v4"] }

[dependencies.sqlx]
version = "0.7"
default-features = false
features = [
  "chrono",
  "ipnetwork",
  "json",
  "macros",
  "migrate",
  "postgres",
  "runtime-tokio-rustls",
  "uuid",
]

[dependencies.tower-http]
version = "0.4"
features = [
  "add-extension",
  "compression-full",
  "cors",
  "request-id",
  "sensitive-headers",
  "trace",
  "util",
]

[dev-dependencies]
mockito = "1.1"

# Improve performance of color-eyre in dev
[profile.dev.package.backtrace]
opt-level = 3

[profile.dev.package.bcrypt]
opt-level = 3

# For bcrypt perf
[profile.dev.package.blowfish]
opt-level = 3

[profile.dev.package.sqlx-macros]
opt-level = 3

[workspace]
