@require 'reset.styl'
@require 'colors.styl'
@require 'typography.styl'

*
  box-sizing border-box

html
  font-family Roboto, sans-serif
  font-weight normal
  color $colorTextPrimary
  font-size unit(100 * ($textSizeBody / 16), '%')
  line-height 1.5
  background-color $colorBackground

html
body
#app
#app > div
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none
  height 100%
  margin 0
  padding 0
  position relative


@require 'font-icons.styl'

[disabled]
  color $colorTextFaint

.material-icons
  display inline-block
  vertical-align middle

.flex-row
  display flex
  flex-direction row

.flex-grow
  flex 1

@require 'material-components/*'
