vendor(prop, args)
  -moz-{prop} args
  -webkit-{prop} args
  {prop} args

clearfix()
  &:before,
  &:after
    content " "
    display table
  &:after
    clear both

font-size = 16px
gutter = 15px

*,
*:before,
*:after
  vendor(box-sizing, border-box)

body
  color #333
  font-family "Open Sans", Arial, san-serif
  font-size font-size
  line-height 1.45
  margin 0px

main
  padding-top 10px
  padding-bottom 10px
  border 1px solid #ccc
  border-radius 0 0 4px 0
  border-collapse collapse

nav
  padding-top 10px
  padding-bottom 10px
  text-align center
  border-left 1px solid
  border-right 1px solid
  border-color #ccc
  overflow hidden

p
  margin 0 0 10px

$col
  float left
  min-height 1px
  padding-right gutter
  padding-left gutter

for size in (1..12)
  .col-{size}
    @extends $col
    width ((size * 100) / 12)%

.row
  margin-right - gutter
  margin-left - gutter
  clearfix()

.container
  padding-right gutter
  padding-left gutter
  margin-right 18px
  margin-left 18px
  min-width 612px
  @media (min-width: 996px)
    margin-right auto
    margin-left auto
    max-width 960px
  @media (min-width: 1236px)
    margin-right auto
    margin-left auto
    max-width 1200px

.left-nav
  padding-top 10px
  padding-bottom 10px
  background-color #eee
  border-bottom 1px solid
  border-left 1px solid
  border-top 1px solid
  border-color #ccc
  border-radius 0 0 0 4px

.chat-messages
  height 400px
  border 1px solid #999
  border-radius 4px
  padding 2px 4px
  overflow auto

  p
    font-size (font-size * 0.85)
    margin 0px
