@value primary from '../styles/colors.css';
@value row, itemsCenter, grow from '../styles/flex.css';
@value title, singleLine from '../styles/typography.css';
@value shadow4dp from './shadows.css';
@value standardIncrement from './units.css';
@value zIndexAppBar from './zindex.css';

.appBar {
  composes: shadow4dp;
  width: 100%;
  height: standardIncrement;
  margin: 0;
  padding: 0;
  background-color: primary;
  position: relative;
  z-index: zIndexAppBar;
}

.content {
  composes: row itemsCenter;
  height: 100%;
  width: 100%;
  padding: 0 8px 0 16px;
  margin: 0;
}

.title {
  composes: grow;
  composes: title singleLine;
  line-height: standardIncrement;
  margin: 0;
}
