@value colorDividers from '../styles/colors.css';
@value row, itemsCenter, grow, exact from '../styles/flex.css';
@value fastOutSlowIn, linearOutSlowIn, fastOutLinearIn from './curve-constants.css';
@value shadow8dp from './shadows.css';
@value zIndexDialog from './zindex.css';

.contents {
  composes: global(cardLayer);
  composes: shadow8dp;
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: auto;
  max-width: 768px;
  max-height: 80%;
  margin: auto;
  z-index: zIndexDialog;
  border-radius: 2px;
}

.scrollDivider {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: colorDividers;
}

.titleBar {
  composes: row itemsCenter;
}

.title {
  composes: grow;
  margin: 0;
  padding: 24px 24px 20px;
}

.closeButton {
  composes: exact;
  margin-right: 12px;
}

.titleDivider {
  composes: scrollDivider;
  margin-top: -1px;
}

.body {
  padding: 0 24px 24px;
}

.actions {
  padding: 8px 4px 0;
  margin-bottom: 2px;
  width: 100%;
  text-align: right;
}

.actionsDivider {
  composes: scrollDivider;
  margin-bottom: -1px;
}

.enter.contents {
  transform: translate3d(0, -100%, 0) scale(0.6, 0.2);
  opacity: 0;
  transition: transform 350ms linearOutSlowIn, opacity 250ms fastOutSlowIn;
}

.enterActive.contents {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.leave {
  pointer-events: none;
}

.leave.contents {
  transform: translate3d(0,0,0) scale(1);
  opacity: 1;
  transition: transform 250ms fastOutLinearIn, opacity 200ms fastOutSlowIn 50ms;
}

.leaveActive.contents {
  transform: translate3d(0, -100%, 0) scale(0.6, 0.2);
  opacity: 0;
}
