@value grey800, dialogScrim, colorDividers from '../styles/colors.css';
@value col, row, itemsCenter, justifyCenter, grow, exact from '../styles/flex.css';
@value fastOutSlowIn, linearOutSlowIn, fastOutLinearIn from './curve-constants.css';
@value shadow8dp from './shadows.css';
@value zIndexDialog, zIndexDialogScrim from './zindex.css';

.fullSizeFixed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.container {
  composes: col itemsCenter justifyCenter;
  composes: fullSizeFixed;
  z-index: zIndexDialog;
}

.contents {
  composes: global(cardLayer);
  composes: shadow8dp;
  position: relative;
  z-index: zIndexDialog;
  width: 80%;
  max-width: 768px;
  max-height: 80%;
  opacity: 1;
  border-radius: 2px;
  overflow-y: auto;
}

.scrollDivider {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: colorDividers;
}

.titleBar {
  composes: row itemsCenter;
}

.title {
  composes: grow;
  margin: 0;
  padding: 24px 24px 20px;
}

.closeButton {
  composes: exact;
  margin-right: 12px;
}

.titleDivider {
  composes: scrollDivider;
  margin-top: -1px;
}

.body {
  padding: 0 24px 24px;
}

.actions {
  padding: 8px 4px 0;
  margin-bottom: 2px;
  width: 100%;
  text-align: right;
}

.actionsDivider {
  composes: scrollDivider;
  margin-bottom: -1px;
}

.scrim {
  composes: fullSizeFixed;
  z-index: zIndexDialogScrim;
  background-color: rgba(33, 33, 33, 0.42); /* #212121 at 42% opacity */
}

/*
  TODO(tec27): ideally these would animate from the triggering click point, but that'll require
  some more work to calculate and apply through JS
*/
.enter .scrim {
  background-color: rgba(33, 33, 33, 0);
  transition: background-color 250ms fastOutSlowIn;
}

.enter .contents {
  transform: translate3d(0, -100%, 0) scale(0.6, 0.2);
  opacity: 0;
  transition: transform 350ms linearOutSlowIn, opacity 250ms fastOutSlowIn;
}

.enterActive .scrim {
  background-color: rgba(33, 33, 33, 0.42);
}

.enterActive .contents {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.leave {
  pointer-events: none;
}

.leave .scrim {
  transition: background-color 200ms fastOutSlowIn;
}

.leave .contents {
  transform: translate3d(0,0,0) scale(1);
  opacity: 1;
  transition: transform 250ms fastOutLinearIn, opacity 200ms fastOutSlowIn 50ms;
}

.leaveActive .scrim {
  background-color: rgba(33, 33, 33, 0);
}

.leaveActive .contents {
  transform: translate3d(0, -100%, 0) scale(0.6, 0.2);
  opacity: 0;
}
