@value colorTextFaint from '../styles/colors.css';

.label {
  position: absolute;
  color: colorTextFaint;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  padding: 2px;
  z-index: 1;
}

.hasValue {
  opacity: 0;
}
