@value colorTextFaint, colorDividers, colorError, amberA400 from '../styles/colors.css';

.container {
  order: 3;
  pointer-events: none;
  width: 100%;
  margin: 0;
  color: amberA400;
  position: relative;
}

.underline {
  width: 100%;
  border: none;
  border-bottom: 1px solid colorDividers;
  margin: 0;
  margin-top: 1px;
}

.focusUnderline {
  composes: fastOutSlowInShort from './curves.css';
  composes: underline;
  width: 100%;
  margin-top: 0px;
  position: absolute;
  top: 0px;
  border-bottom-width: 2px;
  border-color: currentColor;
  transform: scaleX(0);
}

.focused {
}

.error {
  color: colorError;
}

.focused .focusUnderline, .error .focusUnderline {
  transform: scaleX(1);
}

.disabled .underline {
  height: 1px;
  border: none;
  background-position: 0 bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, colorDividers 0%, colorDividers 50%, transparent 0%);
}

.disabled .focusUnderline {
  transform: scaleX(0);
}
