@value colorTextFaint, colorError, amberA400 from '../styles/colors.css';

.label {
  composes: fastOutSlowInShort from './curves.css';
  position: relative;
  color: colorTextFaint;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 2px;
  margin-top: -8px;
  z-index: 1;
  transform: translate3d(0, 34px, 0) scale(1);
  transform-origin: left top;
}

.focused {
  color: amberA400;
}

.focused.error {
  color: colorError;
}

.disabled {
  color: colorTextFaint;
}

.hasValue, .focused {
  transform: translate3d(0, 16px, 0) scale(0.75);
}
