@value dialogScrim from '../styles/colors.css';
@value fastOutSlowIn from './curve-constants.css';

.portal {
}

.scrim {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(27, 30, 34, 0.42); /* grey900 at 42% opacity */
  /*
    Even though we're using React's CSS Transition Group to animate the scrim with the classes below
    we also have a transition of `opacity` property here, because it is possible in some special
    case (Dialogs) for scrim to always be rendered.
  */
  transition: opacity 250ms fastOutSlowIn;

  -webkit-app-region: no-drag;
}

.enter.scrim {
  background-color: rgba(27, 30, 34, 0);
  transition: background-color 250ms fastOutSlowIn;
}

.enterActive.scrim {
  background-color: rgba(27, 30, 34, 0.42);
}

.leave.scrim {
  transition: background-color 200ms fastOutSlowIn;
}

.leaveActive.scrim {
  background-color: rgba(27, 30, 34, 0);
}
