@value grey700, grey800, grey900 from '../styles/colors.css';

.track {
  background-color: grey800;
  border-radius: 2px;
  cursor: pointer;
}

:global(.cardLayer) .track {
  background-color: grey700;
}

.trackHorizontal {
  composes: track;
  right: 2px;
  bottom: 2px;
  left: 2px;
  min-height: 12px;
}

.trackVertical {
  composes: track;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 12px;
}

.thumb {
  cursor: pointer;
  border-radius: inherit;
  background-color: grey900;
}

.thumbHorizontal {
  composes: thumb;
  height: 100%;
  /* leaves space around the edges but still allows those edges to be draggable */
  border-top: 2px solid grey800;
  border-bottom: 2px solid grey800;
}

:global(.cardLayer) .thumbHorizontal {
  border-top-color: grey700;
  border-bottom-color: grey700;
}

.thumbVertical {
  composes: thumb;
  width: 100%;
  /* leaves space around the edges but still allows those edges to be draggable */
  border-left: 2px solid grey800;
  border-right: 2px solid grey800;
  margin-left: auto;
  margin-right: auto;
}

:global(.cardLayer) .thumbVertical {
  border-left-color: grey700;
  border-right-color: grey700;
}
