@value colorTextFaint from '../styles/colors.css';

.select {
  composes: col itemsStart from '../styles/flex.css';
  position: relative;
  line-height: 32px;
  font-size: 16px;
  cursor: pointer;
  padding: 2px;
  min-width: 64px;
}


.disabled {
  color: colorTextFaint;
}

.valueContainer {
  composes: row from '../styles/flex.css';
  min-width: 64px;
  width: 100%;
}

.valueContainer:focus {
  outline: none;
}

.value {
  composes: grow from '../styles/flex.css';
  composes: singleLine subhead from '../styles/typography.css';
  line-height: inherit;
  padding-left: 2px;
  padding-top: 2px;
}

.icon {
  display: block;
  text-align: end;
  width: 24px;
  margin: 0 0 0 4px;
  line-height: inherit;
}
