@value colorTextFaint, colorTextPrimary, colorDividers, colorError from '../styles/colors.css';
@value amberA400, grey800 from '../styles/colors.css';
@value col, itemsStart, grow from '../styles/flex.css';

.textField {
  composes: col itemsStart;
  font-size: 16px;
  line-height: 32px;
  position: relative;
  padding: 2px;

  @nest
      & input[type="text"],
      & input[type="password"],
      & input[type="datetime"],
      & input[type="datetime-local"],
      & input[type="date"],
      & input[type="month"],
      & input[type="time"],
      & input[type="week"],
      & input[type="number"],
      & input[type="email"],
      & input[type="url"],
      & input[type="search"],
      & input[type="tel"],
      & input[type="color"] {
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  @nest & input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px grey800 inset;
    -webkit-text-fill-color: colorTextPrimary !important;
  }
}

.input {
  composes: grow;
  order: 2;
  display: block;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  color: colorTextPrimary;
  padding: 2px 2px 0px;
  line-height: inherit;
  width: 100%;
  -ms-flex-preferred-size: inherit;
}

.input:focus {
  outline: none;
}

.input:invalid {
  outline: none;
  box-shadow: none;
}

.disabled .input {
  color: colorTextFaint;
}
